<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo"> <mat-icon>storefront</mat-icon> Soumya's Cafe </a>
    <ul>
      <li>
        <a (click)="loginAction()" style="text-decoration: none">Login</a>
      </li>
      <li>
        <a (click)="signupAction()" style="text-decoration: none">Signup</a>
      </li>
      <li>
        <a (click)="forgotPassword()" style="text-decoration: none"
          >Forgot Password?</a
        >
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>All right reserved</h2>
  <p>Soumya Ranjan Rout</p>
  <p>Mob: 891722807</p>
  <a href="mailto:soumyaranjanrout831@gmail.com"
    >soumyaranjanrout831&#64;gmail.com</a
  >
</div>
